/* Header */
#top_credit {
    display: none;
}
#menuToggle,
#closeSco,
#returnToLms,
#help {
    display: none !important;
}
#previous {
    width: 2px;
}
#tt_top_navMenu {}

#calculator_btn_open,
#glossary_btn_open {
    display: none;
}
#footer,
.push {
    display: none;
}
#tt_left tr :nth-child(2) {
    display: none;
}
